# Игнорируем все папки data
**/data/

# Игнорируем чекпоинты ноутбуков
.ipynb_checkpoints/

# Игнорируем виртуальные окружения
.venv/
venv/

# Игнорируем IDE файлы
.idea/

# Игнорируем весёлые системные файлы
.DS_Store

# Игнорируем модели и данные
*.pkl
*.csv
